.header-buton {
    display: block;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(180deg, #FF79DA, #9356DC);
    margin: auto;
    margin-top: 53px;
}

.header-buton:hover {
    box-shadow: 0px 8px 7px 1px black;
    transform: scale(1.10);   
    background: linear-gradient(180deg, #FF79DA, #9356DC);
    filter: brightness(110%);
}

.restaurants-button{
    display: block;
    width: 100px;
    height: 50px;
    background: rgb(153, 226, 207);
    font-size: medium;
    position: absolute;
    top: 20px;
    right: 20px;
    margin: auto;
}

.menu-btn-commander {
    margin-top: 50px;
}
