.footer {
  background-color: rgb(52,52,52);
  padding: 22px 25px 35px 25px;

  &__title {
    color: $white;
    margin-bottom: 15px;

  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--maintext {
      color: $white;
      font-family: 'Roboto', sans-serif;
       i {
         padding: 0;
       }
    }

    &--litletext {
      color: $white;
    }

  }

}



@media screen and (min-width: 768px) and (max-width: 1110px)  {

  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;

    &__nav{
      display: flex;
      flex-direction: row;
      gap: 25px;
    }
  }

}


@media screen and  (min-width: 1111px) {

  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    padding: 52px 100px 43px 25px;

    &__title {
     color: $white
    }

    &__nav{
      display: flex;
      flex-direction: row;
      gap: 25px;
    }
  }
}


